body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.info {
  display: flex;
  /* flex-direction: column; */
  gap: 50px;
}

.score {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
}

.icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#rock,
#paper,
#scissors {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  text-align: center;
}
